<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.techlab">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.User_information_changeActivity"
            android:label="Account instellingen"></activity>
        <activity
            android:name=".view.Product_management_book_updateActivity"
            android:label="Product update" />
        <activity
            android:name=".view.Product_management_book_infoActivity"
            android:label="Product info" />
        <activity
            android:name=".view.Product_management_add_bookActivity"
            android:label="Product toevoegen" />
        <activity
            android:name=".view.User_management_user_InfoActivity"
            android:label="Gebruiker Info" />
        <activity
            android:name=".view.Users_managementActivity"
            android:label="Gebruikersbeheer" />
        <activity
            android:name=".view.Student_BorrowedActivity"
            android:label="Geleende / aangevraagde producten" />
        <activity
            android:name=".view.Product_management_product_UpdateActivity"
            android:label="Product update" />
        <activity
            android:name=".view.Product_management_product_infoActivity"
            android:label="Product info" />
        <activity
            android:name=".view.Product_management_add_productActivity"
            android:label="Product toevoegen" />
        <activity
            android:name=".view.Product_managementActivity"
            android:label="Productbeheer" />
        <activity android:name=".view.SignUpActivity"
            android:label="Aanmeldingspagina" />
        <activity
            android:name=".view.pr_Aanvraag_Return"
            android:label="aangevraagde productpagina" />
        <activity
            android:name=".view.AangevraagdItems_UserList"
            android:label="Product administratie" />
        <activity android:name=".view.NoReturnUsers" />
        <activity
            android:name=".view.Product_InventoryActivity"
            android:label="Inventaris" />
        <activity
            android:name=".view.Product_ItemDescription"
            android:label="Product Informatie" />
        <activity
            android:name=".view.Product_Voorwaarden"
            android:label="Product Voorwaarden" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>