<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.techlab">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.InfographicActivity"></activity>
    
        <activity
            android:name=".view.User_information_changeActivity"
            android:label="Account instellingen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Product_management_book_updateActivity"
            android:label="Product update"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Product_management_book_infoActivity"
            android:label="Product info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Product_management_add_bookActivity"
            android:label="Product toevoegen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.User_management_user_InfoActivity"
            android:label="Gebruiker Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Users_managementActivity"
            android:label="Gebruikersbeheer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Student_Geleend_Aangevraagd"
            android:label="Geleend / aangevraagd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Product_management_product_UpdateActivity"
            android:label="Product update"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Product_management_product_infoActivity"
            android:label="Product info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Product_management_add_productActivity"
            android:label="Product toevoegen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Product_managementActivity"
            android:label="Productbeheer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SignUpActivity"
            android:label="Aanmeldingspagina" 
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Geleend_Aangevraagd"
            android:label="aangevraagde productpagina"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AangevraagdItems_UserList"
            android:label="Product administratie"
            android:screenOrientation="portrait" />
        <activity android:name=".view.NoReturnUsers" />
        <activity
            android:name=".view.Product_InventoryActivity"
            android:label="Inventaris"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Product_ItemDescription"
            android:label="Product Informatie"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Product_Voorwaarden"
            android:label="Product Voorwaarden"
            android:screenOrientation="portrait" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- declares the background service-->
        <service
            android:name="oak.shef.ac.uk.testrunningservicesbackgroundrelaunched.SensorService"
            android:enabled="true" >
        </service>
        <!--declares the BroadcastReceiver that will be called when the message uk.ac.shef.oak.ActivityRecognition.RestartSensor -->
        <!--is sent by the service itself when it is about to die&ndash;&gt;-->
        <receiver
            android:name="oak.shef.ac.uk.testrunningservicesbackgroundrelaunched.SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
        </receiver>
    </application>
</manifest>